# Intermediate Python
Using common data science libraries

### Pandas
Pandas is one of the most useful packages becasuse it combines the speed of numpy with flexibility of data types. It behaves very similar to numpy in data manipulation with some differences we will cover. There are two primary reasons to use pandas

* Tabluar data (the kind we care about)
* heterogeneous data (columns can contain different data types)

In [ ]:
# There are two pimary data strcutres in pandas Series and DataFrames
import pandas as pd
import numpy as np

# Series are one-dimensional array's
pandas_series = pd.Series([2,6,8,9], index = [4,5,6,7])
pandas_series

In [ ]:
pandas_series.array

A series is very similar to a dictionary but it is ordered. You can create a Sereies by passing a dictionary or convert to a dictionary using `to_dict()` method.

In [ ]:
# DataFrame is the most common pandas data strcture
animals = {"type": ["dog", "cat", "fish", "mouse"],
        "good": ["very good", "the worst", "okay", "okay"],
        "weight": [40, 4, .5, .05]}

df_animals = pd.DataFrame(animals)
df_animals

### Loading data into pandas
You have lots of options to do this! Here are some of the most common:

* `read_csv`
* `read_excel`
* `read_html`
* `read_json`
* `read_xml`
* `read_sql` / `read_sql_table`

So you can read in text files, spreadsheet, webdata, and databases among many others. So to get started you can go and get data from one of a number of sources.

* kaggle.com/datasets
* data.gov
* https://github.com/awesomedata/awesome-public-datasets

In [ ]:
#lets read our first dataset
df_train = pd.read_csv('data/train.csv')

print(df_train.shape)
df_train.describe()

### Exploring the data
Some basic exploration concepts

In [ ]:
df_train.head(3)

In [ ]:
df_train.tail(10)

In [ ]:
# can access a single column
df_train.Survived.head()

In [ ]:
df_train["Survived"].tail()

In [ ]:
#can create a new column and assign values
df_train["new_column"] = "just adding stuff"
df_train.head()

In [ ]:
# can access rows using index with loc and iloc
df_train.iloc[:3] #for integer-based indexing

In [ ]:
df_train.dtypes

In [ ]:
df_train["PassengerId"] = df_train["PassengerId"].astype(str)

df_train["new_index"] = df_train.Sex + df_train.PassengerId
df_train = df_train.set_index("new_index")
df_train.head()

In [ ]:
df_train.loc['male5'] #or iloc

In [ ]:
df_train.iat[0,3] #access/update single value by index

In [ ]:
df_train.at['male5','Fare'] = 90#access single value by label

### Reshaping Data
We just saw how we can manipulate the index here are some other useful methods

In [ ]:
df_train.head()

In [ ]:
df_train.sort_index().head()

In [ ]:
# reseting index
df_train = df_train.reset_index()
df_train.head()

In [ ]:
df_train.sort_values("Fare", ascending = False).head()

In [ ]:
# We need to clean this up!
df_train.head()

In [ ]:
df_train.drop(columns=['index'], inplace=True)
df_train.head()

You can combine dataframes using concat

In [ ]:
df_1 = df_train.sample(frac = .25) # method to subset data randomly
df_2 = df_train.sample(n = 80)

print(df_1.shape)
print(df_2.shape)

In [ ]:
df_new = pd.concat([df_1, df_2]) #combine dataframes by column if colmns are the same can do same for 
                                 #rows with .concat([],axis = 1)

print(df_new.shape)
df_new.head(3)

In [ ]:
#rename columns
df_train.rename(columns = {"Pclass":"passenger_class"})

### Subseting 
Getting subsets of our data by column

In [ ]:
df_train[df_train.Fare > 40].shape

In [ ]:
# can do multi conditions this way as well
df_train[(df_train.Fare > 40) & (df_train.Sex == 'male')].shape

In [ ]:
# subseting mulitple columns
df_less_columns = df_train[["Sex","Survived"]]
df_less_columns.head()

The most flexible method for boolean expressions is **query** which uses normal python syntax

In [ ]:
df_train.query("Sex == 'male' and Survived == 1 and Fare > 40").shape

Combining these approahes you can **chain** many methods together for ease of reading

In [ ]:
(df_train.query("Sex == 'male'")
 .rename(columns = {"Pclass":"passenger_class"})
 .shape)

you can use loc and iloc to subset by rows and columns *at the same time*

In [ ]:
df_train.iloc[:3,:3] #all the same conventions as numpy

### Summarize Data

In [ ]:
df_train.shape

In [ ]:
df_train.describe()

In [ ]:
df_train.Sex.value_counts()

In [ ]:
df_train[['Sex','Survived']].value_counts()

In [ ]:
df_train.Pclass.nunique()

In [ ]:
df_train.Pclass.unique()

There are a large amount of summary functions by column
* sum()
* count()
* median()
* quantile([0.25,0.5])
* min(), max()
* mean()
* var(), std()
* apply(function) apply any function to the object
* many more

In [ ]:
df_train.Fare.mean()

### Grouping Data
Groups allows for segmenting data into groups of interest for calculation

In [ ]:
df_train.groupby(["Sex"]).mean()

In [ ]:
(df_train.groupby(["Sex","Pclass"])
 .Survived
 .mean())

In [ ]:
df_train.groupby(["Sex","Pclass"]).Survived.count()

### Missing Data

In [ ]:
df_train.head(3)

In [ ]:
df_train.Cabin.value_counts()

In [ ]:
# we can drop rows that have no data
df_train.drop(columns=['Cabin']).dropna().shape

In [ ]:
# perhapse it is better to replace missing values with something more logical
df_train.Cabin = df_train.Cabin.fillna('None')

The replacement value for missing data is an active area of reserach. You can replace it with an average of all other values, max, min or something else. You just need to make sure you are not **leaking data**. This means that you are not filling in values with information you wouldn't have had when the observation was recorded.

In [ ]:
df_train[df_train.Cabin == 'None'].Pclass.value_counts()

In [ ]:
df_train.Cabin.value_counts()

In [ ]:
#we can also drop duplicate rows
df_new.shape #dataframe we created from a few videos ago about reshaping data

In [ ]:
df_new.drop_duplicates().shape